@font-face {
	font-family: 'NotoSansKR';
	src: url(font/NotoSansKR-VariableFont_wght.woff2) format('woff2'),
		url(font/NotoSansKR-VariableFont_wght.woff) format('woff');
}

html {
	font-family: 'NotoSansKR', serif, sans-serif, monospace;
	box-sizing: border-box;
	font-size: 10px;
}

h1 {
	font-size: 2.6rem;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 1.4rem;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #001c38;
	color: white;
}

button,
input,
select,
textarea {
	font-family: inherit;
	box-sizing: border-box;
}

button {
	display: inline-block;
	border: none;
	border-radius: 0.3rem;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 1.4rem;
}

input[type='search'] {
	height: 2em;
	color: #b3b3b3;
}

.app {
	display: flex;
}

nav {
	background-color: #001220;
	min-width: 23em;
	max-width: 34em;
	width: 23em;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: sticky;
	top: 0%;
	left: 0%;
}

@counter-style nav-counter {
	system: cyclic;
	symbols: '\1F3E0''\1F4DD''\2699';
	suffix: ' ';
}

.nav-bar__list {
	list-style-type: nav-counter;
	flex: 3 1;
}

.nav-bar__item {
	padding: 0.5em 0;
	font-size: 1.8rem;
}

a {
	margin-left: 0.3em;
	width: inherit;
	text-decoration: none;
	outline: none;
	text-align: center;
	color: #b3b3b3;
}

a:hover,
a:active {
	color: inherit;
}

.nav-bar__user {
	flex: 1 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-bar__login__button {
	background-color: #fa4141;
	padding: 0.5em 5em;
}

.nav-bar__login__button:hover,
.nav-bar__login__button:active {
	background-color: #b90000;
}

main {
	width: 100%;
	height: auto;
	margin: 0 3em;
	display: flex;
	flex-direction: column;
}

.content__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2em 0;
}

.content__header__nav-button {
	background-color: #fa4141;
	padding: 0.2em 1em;
}

.content__header__nav-button:hover,
.content__header__nav-button:active {
	background-color: #b90000;
}

.content__header__modal-button {
	background-color: #fa4141;
	padding: 0.5em 3em;
}

.content__header__modal-button:hover,
.content__header__modal-button:active {
	background-color: #b90000;
}

.content__body {
	flex-grow: 1;
}

.content__body > .empty {
	text-align: center;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
	column-gap: 1em;
	row-gap: 2em;
	width: 100%;
	margin-top: 2em;
}

@media screen and (max-width: 576px) {
	.card-container {
		grid-template-columns: repeat(1, minmax(250px, 1fr));
	}
}
